NODE_ENV=development
PORT=3001

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=blog_db

JWT_ACCESS_SECRET=change-me-with-a-long-random-string-min-32-chars
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_SECRET=change-me-with-another-long-random-string-min-32-chars
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGIN=*
